<sm-segment class="vertical stripe">
  <div class="ui stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">We Help Companies and Companions</h3>
        <p>
          In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as.
        </p>
      </div>
      <div class="eight wide column">
        <h3 class="ui header">We Make Bananas That Can Dance</h3>
        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
      </div>
    </div>
    <div class='row'>
      <div class='ui grid container'>
        <div class='eight wide column' *ngFor='let image of images'>
          <a [href]='"assets/images/" + image' data-lightbox='slideshow'>
            <img [src]='"assets/images/" + image' class="ui bordered rounded image">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class='ui huge button' href='tel:555-555-5555'>Call (555) 555-5555 for a quote!</a>
      </div>
    </div>
  </div>
</sm-segment>

<!--<sm-segment class='container vertical stripe'>
<p>
  Allow miles wound place the leave had. To sitting subject no improve studied limited. Ye indulgence unreserved connection alteration appearance my an astonished. Up as seen sent make he they of. Her raising and himself pasture believe females. Fancy she stuff after aware merit small his. Charmed esteems luckily age out.
</p>
<p>
  As absolute is by amounted repeated entirely ye returned. These ready timed enjoy might sir yet one since. Years drift never if could forty being no. On estimable dependent as suffering on my. Rank it long have sure in room what as he. Possession travelling sufficient yet our. Talked vanity looked in to. Gay perceive led believed endeavor. Rapturous no of estimable oh therefore direction up. Sons the ever not fine like eyes all sure.
</p>
</sm-segment>-->
